<form [formGroup]="createForm" (ngSubmit)="add()">
    <div>
        <p class="error" [hidden]="!name?.errors?.required|| name?.untouched">
            Merci de saisir un nom de contact
        </p>
        <p class="error" [hidden]="!name?.errors?.alphanumeric || name?.untouched">
            Merci d'utiliser uniquement des lettres (avec ou sans accents)
        </p>
        <p class="error" [hidden]="!name?.errors?.min || name?.untouched">
            Votre nom doit comporter au moins 5 caractères
        </p>
        <label for="new-contact-name">Nom</label>
        <input name="name" id="new-contact-name" required formControlName="name">
    </div>
    <div>
        <p class="error" [hidden]="!email?.errors?.required || email?.untouched">
            Merci de saisir un email de contact
        </p>
        <p class="error" [hidden]="!email?.errors?.email || email?.untouched">
            Ça ne ressemble pas à une adresse email
        </p>
        <label for="new-contact-email">Email</label>
        <input name="email" type="email" id="new-contact-email" formControlName="email">
    </div>
    <button [disabled]="!createForm.valid">Ajouter</button>
</form>
